@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
}
body {
    position:relative;
    width:100%;
    height:100vh;
    min-height:auto;
    padding:30px;
    font-family:'Nanum Myeongjo';
}
.hide {
    display:none !important;
}
#wrap {
    position:relative;
    width:100%;
    height:100%;
    box-shadow:0px 0px 20px rgba(0,0,0,0.5);
}
.reload-box {
    position:absolute;
    bottom:25px;
    right:30px;
    .btn-reload {
        display:flex;
        justify-content:center;
        align-items:center;
        background-color:#222;
        width:40px;
        height:40px;
    }
    span {
        color:#fff;
        font-size:20px;
        cursor:pointer;
    }
}
#main {
    position:relative;
    overflow-y:scroll;
    width:100%;
    height:100%;
    padding:50px 0;

    h2 {
        font-size:20px;
        text-align:center;
        span {
            border-bottom:1px solid rgba(0,0,0,0.75);
        }
    }
    a {
        color:#222;
    }
    button {
        color:#222;
    }
    .content-img {
        display:block;
        width:600px;
        text-align:center;
        margin:75px auto 0;
        img {
            display:block;
            margin:30px auto 10px;
            pointer-events:none;
            &:first-child {
                margin:0 auto;
            }
        }
        figcaption {
            margin-top:5px;
        }
    }
    .content-console-btn {
        display:block;
        font-family:'Nanum Myeongjo';
        font-size:12px;
        color:#222;
        width:100px;
        padding:5px 0;
        margin:25px auto 10px;
    }
    .content-console {
        position:relative;
        width:100%;
        max-width:600px;
        height:0;
        transition:.65s cubic-bezier(0.33, 1, 0.68, 1);
        margin:0 auto;
        overflow:hidden;
        .console-inner {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:auto;
            padding:15px 0;
            text-align:center;
            border:1px solid rgba(0,0,0,0.25);
            box-shadow:0px 0px 15px inset rgba(0,0,0,0.1);
            img {
                width:100%;
                pointer-events:none;
            }
        }
    }
    .content-text-c {
        text-align:center;
        margin-top:50px;
        span {
            display:block;
            margin-top:5px;
            a {
                position:relative;
                display:inline-block;
                &::after {
                    content:'';
                    display:block;
                    position:absolute;
                    bottom:0;
                    right:0;
                    width:0;
                    height:1px;
                    background:#333;
                    transition:0.3s;
                }
                &:hover {
                    &::after {
                        right:auto;
                        left:0;
                        width:100%;
                    }
                }
            }
        }
    }
    .content-text {
        width:100%;
        max-width:650px;
        margin:50px auto 60px;
        white-space:pre-line;
        strong {
            font-size:16px;
            display:block;
        }
        &.optionT {
            margin:100px auto 20px;
        }
        &.optionS {
            margin:80px auto 10px;
            strong {
                font-size:14px;
            }
        }
    }
    .content-box {
        position:relative;
        width:100%;
        max-width:650px;
        margin:50px auto 0;
        &.flex-clear {
            display:block;
        }
    }
    .content-list {
        width:100%;
        max-width:650px;
        margin:0 auto;
        .content-unit {
            font {
                size:14px;
                family:'Consolas','Nanum Myeongjo';
            }
            position:relative;
            padding:50px 0;
            .option {
                font-weight:bold;
            }
            .unit-text {
                font-size:12px;
                position:relative;
                padding:5px 0 10px 30px;

                .text-default {
                    display:block;
                    margin-top:20px;
                }
                &::before {
                    content:'·';
                    display:block;
                    position:absolute;
                    top:5px;
                    left:15px;
                }
            }
            .ex-unit {
                position:relative;
                width:250px;
                height:0;
                margin:10px 0 0 30px;
                transition:.65s;
                overflow:hidden;
                .unitSlide {
                    position:absolute;
                    top:0;
                    left:0;
                    width:250px;
                    height:80px;
                    .slide {
                        width:100%;
                        height:100%;
                        div {
                            width:100%;
                            height:100%;
                        }
                        .slick-dots {
                            bottom:0;
                            li {
                                margin:0 1px;
                            }
                        }
                        .slick-prev {
                            left:10px;
                            z-index:1;
                        }
                        .slick-next {
                            right:10px;
                            z-index:1;
                        }
                        &.slick-dotted.slick-slider {
                            margin-bottom:0;
                        }
                    }
                }
                .ex-img {
                    display:block;
                    margin-top:90px;
                }
            }
            .slide-text {
                display:inline-block;
                font-size:12px;
                margin:10px 0 0 30px;
                cursor:pointer;
                .detail {
                    display:none;
                    cursor:pointer;
                }
            }

            &::after {
                content:'';
                display:block;
                background-color:rgba(0,0,0,0.75);
                position:absolute;
                left:0;
                bottom:0;
                width:100%;
                height:1px;
            }
        }
    }
    .ex-btn {
        display:block;
        position:absolute;
        height:0;
        font-size:0;
        text-indent:-9999px;
        background:none;
        border:none;
        overflow:hidden;
        outline:none;
        cursor:pointer;
        z-index:2;
    }

    .slick {
        position:relative;
        margin:0 auto;

        .slide {
            width:100%;
            height:100%;
            display:flex;
            justify-content:center;
            align-items:center;
        }
        .slick-list, .slick-track {
            width:100%;
            height:100%;
            display:flex;
            align-items:center;
        }
        .slick-slide {
            width:100%;
            height:300px;
            &.slide-big {
                height:350px;
            }
        }
        .slick-prev, .slick-next {
            z-index:1000;
        }
        .slick-prev {
            left:25px;
        }
        .slick-next {
            right:25px;
        }

        &.slick01 {
            width:650px;
            height:300px;
        }
    }
    .js-bgCopyBox {
        display:flex;
        flex-wrap:wrap;
        flex-direction:row;
        justify-content:space-between;
        .bg-copy-unit {
            position:relative;
            font-size:0;
            width:120px;
            height:120px;
            img {
                width:100%;
            }
            .bg-copy-btn {
                top:0;
                left:0;
                width:100%;
                height:100%;
            }
            &:nth-child(1) {
                background:url('../images/bg01.jpg') no-repeat center / 100% auto;
            }
            &:nth-child(2) {
                background:url('../images/bg02.jpg') no-repeat center / 100% auto;
            }
            &:nth-child(3) {
                background:url('../images/bg03.jpg') no-repeat center / 100% auto;
            }
            &:nth-child(4) {
                background:url('../images/bg04.jpg') no-repeat center / 100% auto;
            }
        }
        .bg-copy-place {
            display:block;
            width:120px;
            height:120px;
            margin:0 auto 50px;
        }
        .bg-copy-text {
            width:100%;
            max-width:500px;
            height:40px;
            text-align:center;
            line-height:39px;
            box-shadow:0px 0px 5px inset rgba(0,0,0,0.15);
            border:1px solid rgba(0,0,0,0.33);
            margin:0 auto;
        }
    }
    .js-onePage {
        > div  {
            width:100%;
            height:300px;
            border:1px solid rgba(0,0,0,0.25);
            overflow:hidden;
            &.pageA {
                position:relative;
                .page-unit {
                    position:absolute;
                    top:70%;
                    left:0;
                    width:100%;
                    height:100%;
                    transition:.65s cubic-bezier(0.45, 0, 0.55, 1);
                }
            }
        }
        .page-nav {
            position:absolute;
            top:50%;
            right:10px;
            transform:translateY(-50%);
            z-index:10;
            li {
                position:relative;
                width:10px;
                height:10px;
                margin:10px 0;
                button {
                    display:block;
                    width:100%;
                    height:100%;
                    transition:.35s;
                    border-radius:50%;
                    background-color:rgba(0,0,0,0.33);
                }
                &.active {
                    button {
                        background-color:rgba(0,0,0,1);
                    }
                }
            }
        }
    }
    .js-findString {
        ul {
            display:flex;
            flex-wrap:wrap;
            flex-direction:row;
            justify-content:center;
            align-items:flex-start;
            margin-bottom:50px;
            li {
                width:60px;
                height:40px;
                font-size:11px;
                line-height:40px;
                font-weight:bold;
                text-align:center;
                margin:0 10px;
                transition:0.33s;
            }
            &.from {
                li {
                    color:#222;
                    background-color:#fff;
                    border:1px solid #333;
                    cursor:pointer;
                }
            }
            &.to {
                li {
                    // color:#fff;
                    &:nth-child(1) {
                        background-color:rgba(255,0,0,0);
                        &.on {
                            color:#fff;
                            background-color:rgba(255,0,0,1);
                        }
                    }
                    &:nth-child(2) {
                        background-color:rgba(0,0,255,0);
                        &.on {
                            color:#fff;
                            background-color:rgba(0,0,255,1);
                        }
                    }
                    &:nth-child(3) {
                        background-color:rgba(0,0,0,0);
                        &.on {
                            color:#fff;
                            background-color:rgba(0,0,0,1);
                        }
                    }
                    &:nth-child(4) {
                        background-color:rgba(125,125,125,0);
                        &.on {
                            color:#fff;
                            background-color:rgba(125,125,125,1);
                        }
                    }
                }
            }
        }
    }
    .js-getDate {
        dl {
            margin:0 auto 20px;
            width:200px;
            font-size:0;
            dt {
                display:inline-block;
                border:1px solid #333;
                vertical-align:middle;
                button {
                    display:block;
                    width:70px;
                    height:30px;
                    font-size:12px;
                    transition:.35s;
                    &:hover {
                        background-color:#222;
                        color:#fff;
                    }
                }
            }
            dd {
                display:inline-block;
                vertical-align:middle;
                p {
                    width:120px;
                    height:30px;
                    font-size:12px;
                    font-family:'Fredoka', 'Nanum Gothic', sans-serif;
                    line-height:30px;
                    text-align:right;
                }
            }
            &.full-date {
                margin-top:50px;
                dt {
                    display:block;
                    button {
                        width:100%;
                    }
                }
                dd {
                    display:block;
                    p {
                        width:100%;
                        height:50px;
                        line-height:50px;
                        text-align:center;
                    }
                }
            }
        }
    }
    .js-scroll {
        .scroll-to-btn {
            display:block;
            position:fixed;
            bottom:-100px;
            left:50%;
            transform:translateX(-50%);
            width:80px;
            height:30px;
            font-size:12px;
            background:#fff;
            border:1px solid #333;
            opacity:0;
            transition:0.3s;
            &.view {
                bottom:65px;
                opacity:1;
            }
            &:hover {
                background:#333;
                color:#fff;
            }
        }
        .scroll-box {
            position:relative;
            width:100%;
            height:750px;
        }
        .scroll-progress-bar {
            position:fixed;
            bottom:30px;
            left:2.5%;
            width:95%;
            height:5px;
            overflow:hidden;
            span {
                display:block;
                width:100%;
                height:100%;
                background:#333;
                transform:translateX(-100%);
                transition:0.1s;
            }
        }
    }
    .useFulSite {
        > div {
            position:relative;
            width:100%;
            padding-bottom:15px;
            margin-bottom:40px;
            border-bottom:1px solid #333;
            &:last-child {
                border-bottom:none;
            }
            ul {
                display:flex;
                flex-wrap:wrap;
                flex-direction:row;
                justify-content:space-around;
                align-items:flex-start;
                width:100%;
                li {
                    display:block;
                    position:relative;
                    margin-bottom:25px;
                    border:1px solid #333;
                    width:45%;
                    height:100px;
                    a {
                        display:block;
                        position:absolute;
                        top:0;
                        left:0;
                        width:100%;
                        height:100%;
                        padding:15px;
                        p {
                            position:relative;
                            color:#222;
                            transition:0.3s;
                            white-space:pre-line;
                            span {
                                display:inline-block;
                                font-weight:bold;
                                margin-bottom:10px;
                            }
                        }
                        &::after {
                            content:'';
                            display:block;
                            position:absolute;
                            top:0;
                            right:0;
                            width:0;
                            height:100%;
                            background:#333;
                            transition:0.22s ease-in-out;
                            z-index:-1;
                        }
                        &:hover {
                            p {
                                color:#fff;
                            }
                            &::after {
                                right:auto;
                                left:0;
                                width:100%;
                            }
                        }
                    }

                    * {
                        cursor:pointer;
                    }
                }
            }
        }
    }
    .etc-tip {
        p {
            text-indent: 12px;
            &::before {
                content:'';
                display:inline-block;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width:5px;
                height:5px;
                background:#333;
                border-radius:50%;
                margin-right:5px;
            }
        }
    }
}

@media (max-width:750px) {
    body {
        height:100%;
        padding:5px;
    }
    .reload-box {
        bottom:10px;
        right:15px;
        .btn-reload {
            width:30px;
            height:30px;
            span {
                font-size:16px;
            }
        }
    }
    #main {
        padding:5% 0;
        h2 {
            font-size:18px;
        }
        .content-img {
            width:95%;
            img {
                width:100%;
                margin:5% auto 2.5%;
            }
        }
        .content-console {
            width:95%;
            .console-inner {
                padding:10px 2.5%;
                box-shadow:none;
            }
        }
        .content-text {
            width:95%;
            max-width:none;
            &.optionT {
                margin:15% auto 2%;
            }
            &.optionS {
                margin:11% auto 2%;
            }
        }
        .content-box {
            width:95%;
            margin:7.5% auto 0;
        }
        .content-list {
            width:95%;
            max-width:none;
            .content-unit {
                padding:10% 0;
            }
        }

        .slick {
            .slick-slide {
                height:200px;
                &.slide-big {
                    height:220px;
                }
            }
            &.slick01 {
                width:95%;
                height:200px;
            }
        }
        .js-bgCopyBox {
            .bg-copy-unit {
                width:21%;
                height:0;
                padding-top:21%;
            }
            .bg-copy-place {
                width:100px;
                height:100px;
                margin:10% auto 7.5%;
            }
            .bg-copy-text {
                width:95%;
                height:40px;
                line-height:39px;
                box-shadow:none;
            }
        }
        .useFulSite {
            > div {
                ul {
                    li {
                        width:90%;
                    }
                }
            }
        }
        .js-scroll {
            .scroll-to-btn {
                width:70px;
                height:26px;
                font-size:10px;
                &.view {
                    bottom:30px;
                }
            }
            .scroll-progress-bar {
                bottom:6px;
                left:1.1%;
                width:97.8%;
                height:4px;
            }
        }
    }
}