@charset "UTF-8";

.hide {
    display:none !important;
}
.box100 {
    width:100%;
    height:100%;
}

body {
    position:relative;
    padding:30px;
}
#wrap {
    position:relative;
    box-shadow:0px 0px 25px rgba(0,0,0,0.33);
}
#header {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:50px;
    background-color:#222;
    z-index:1000;

    h2 {
        font: {
            size: 14px; 
            weight: 500;
        }
        color:#fff;
        text-align:center;
        letter-spacing:5px;
        line-height:48px;

        &::before {
            content:'::';
            display:inline-block;
            letter-spacing:1px;
            margin-right:7px;
        }
        &::after {
            content:'::';
            display:inline-block;
            letter-spacing:1px;
            margin-left:5px;
        }
    }
    .btn-reload {
        display:block;
        position:absolute;
        top:50%;
        right:0;
        transform:translateY(-50%);
        width:50px;
        height:100%;
        color:#fff;
        cursor:pointer;
        span {
            cursor:pointer;
            font-size:20px;
            line-height:1.5;
        }
    }
}
#footer {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:50px;
    background-color:#222;
    z-index:1000;

    p {
        font: {
            size: 10px; 
            weight: 400;
        }
        color:#fff;
        text-align:center;
        letter-spacing:2px;
        line-height:48px;
    }
}
#main {
    position:relative;
    padding:50px 0;
}
#section {
    position:relative;
    overflow-y:scroll;

    #contentNav {
        margin:50px auto 20px;
        ul {
            display:flex;
            flex-wrap:wrap;
            flex-direction:row;
            justify-content:center;
            align-items:flex-start;
            margin:0 auto;
            li {
                display:inline-block;
                width:40px;
                height:40px;
                text-align:center;
                line-height:40px;
                margin:15px;
                border:1px solid #ccc;
                button {
                    display:block;
                    width:100%;
                    height:100%;
                    color:#222;
                    font: {
                        size:14px;
                        weight:700;
                    }
                    &.nav-js {
                        background-color:yellow;
                    }
                    &.nav-etc {
                        background-color:palegreen;
                    }
                }
            }
        }
    }

    .section-inner {
        display:flex;
        flex: {
            wrap: wrap;
            direction: row;
        }
        justify-content:space-between;
        width:100%;
        max-width:1200px;
        margin:0 auto;
        padding:50px 50px 0;

        .content {
            position:relative;
            width:300px;
            height:150px;
            margin-bottom:50px;
            transition:0.55s cubic-bezier(0.87, 0, 0.13, 1);
            overflow:hidden;

            .content-inner {
                position:relative;
                height:100%;
                transition:.75s;
                border:1px solid rgba(0,0,0,0.1);

                h3 {
                    font: {
                        size:18px;
                        weight:600;
                    }
                    line-height:40px;

                    span {
                        display:inline-block;
                        width:40px;
                        height:40px;
                        text-align:center;
                        font-weight:700;
                        margin-right:15px;
                        &.flag-js {
                            background-color:yellow;
                        }
                        &.flag-etc {
                            background-color:palegreen;
                        }
                    }
                }
                .content-text {
                    margin:15px 0 0 15px;
                    &::before {
                        content:'·';
                    }
                }
                .use {
                    position:absolute;
                    bottom:3px;
                    right:6px;
                }
                a {
                    position:absolute;
                    top:0;
                    left:0;
                    width:100%;
                    height:100%;
                    color:transparent;
                    font-size:0;
                    text-indent:-9999px;
                    outline:none;
                    transition:.33s;
                    z-index:2;
                    &:hover {
                        background-color:rgba(0,0,0,0.15);
                    }
                }

                &:hover {
                    border:1px solid rgba(0,0,0,0.75);
                }
            }
        }
    }
}

@media (max-width:1150px) {
    #section {
        .section-inner {
            .content {
                width:47.5%;
            }
        }
    }
}
@media (max-width:750px) {
    #section {

        #contentNav {
            margin:50px auto 0;
        }
        .section-inner {
            padding:50px 5% 0;
            .content {
                width:100%;
                margin-bottom:30px;

                .content-inner {
                    
                }
            }
        }
    }
}