@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 30px;
  font-family: "Nanum Myeongjo";
}

.hide {
  display: none !important;
}

#wrap {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

#main {
  position: relative;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding: 50px 0;
}
#main h2 {
  font-size: 20px;
  text-align: center;
}
#main h2 span {
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}
#main .content-img {
  display: block;
  width: 600px;
  text-align: center;
  margin: 75px auto 0;
}
#main .content-text-c {
  text-align: center;
  margin-top: 50px;
}
#main .content-text {
  width: 100%;
  max-width: 650px;
  margin: 50px auto 60px;
  white-space: pre-line;
}
#main .content-text strong {
  font-size: 16px;
  display: block;
}
#main .content-text.optionT {
  margin: 100px auto 20px;
}
#main .content-list {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}
#main .content-list .content-unit {
  font-size: 14px;
  font-family: "Consolas", "Nanum Myeongjo";
  position: relative;
  padding: 50px 0;
}
#main .content-list .content-unit .option {
  font-weight: bold;
}
#main .content-list .content-unit .unit-text {
  font-size: 12px;
  position: relative;
  padding: 5px 0 10px 30px;
}
#main .content-list .content-unit .unit-text .text-default {
  display: block;
  margin-top: 20px;
}
#main .content-list .content-unit .unit-text::before {
  content: "·";
  display: block;
  position: absolute;
  top: 5px;
  left: 15px;
}
#main .content-list .content-unit .ex-unit {
  position: relative;
  width: 200px;
  height: 0;
  margin: 10px 0 0 30px;
  transition: 0.65s;
  overflow: hidden;
}
#main .content-list .content-unit .ex-unit .unitSlide {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 80px;
}
#main .content-list .content-unit .ex-unit .unitSlide .slide {
  width: 100%;
  height: 100%;
}
#main .content-list .content-unit .ex-unit .unitSlide .slide div {
  width: 100%;
  height: 100%;
}
#main .content-list .content-unit .ex-unit .unitSlide .slide .slick-dots {
  bottom: 0;
}
#main .content-list .content-unit .ex-unit .unitSlide .slide .slick-dots li {
  margin: 0 1px;
}
#main .content-list .content-unit .ex-unit .unitSlide .slide .slick-prev {
  left: 10px;
  z-index: 1;
}
#main .content-list .content-unit .ex-unit .unitSlide .slide .slick-next {
  right: 10px;
  z-index: 1;
}
#main .content-list .content-unit .ex-unit .unitSlide .slide.slick-dotted.slick-slider {
  margin-bottom: 0;
}
#main .content-list .content-unit .ex-unit .ex-img {
  display: block;
  margin-top: 90px;
}
#main .content-list .content-unit .slide-text {
  display: inline-block;
  font-size: 12px;
  margin: 10px 0 0 30px;
  cursor: pointer;
}
#main .content-list .content-unit .slide-text .detail {
  display: none;
  cursor: pointer;
}
#main .content-list .content-unit::after {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
}
#main .slick {
  position: relative;
  margin: 0 auto;
}
#main .slick .slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .slick .slick-list, #main .slick .slick-track {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
#main .slick .slick-slide {
  width: 100%;
  height: 300px;
}
#main .slick .slick-prev, #main .slick .slick-next {
  z-index: 1000;
}
#main .slick .slick-prev {
  left: 25px;
}
#main .slick .slick-next {
  right: 25px;
}
#main .slick.slick01 {
  width: 650px;
  height: 300px;
}

/*# sourceMappingURL=style.css.map */
